Diagnostics:
  ClangTidy:
    FastCheckFilter: Strict

  UnusedIncludes: Strict

InlayHints:
  Enabled: true

Hover:
  ShowAKA: true

Completion:
  AllScopes: true

Index:
  Background: Build
  StandardLibrary: Yes
