BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

AccessModifierOffset: -4

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup

SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

NamespaceIndentation: All
FixNamespaceComments: false

SeparateDefinitionBlocks: Always

ReflowComments: true

EmptyLineBeforeAccessModifier: LogicalBlock

PackConstructorInitializers: NextLine

BinPackArguments: false
BinPackParameters: false
